@font-face {
    font-family: Blue_Curve_R;
    src: url(font/Bluecurve-Regular.ttf);
}

@font-face {
    font-family: Blue_Curve_L;
    src: url(font/Bluecurve-Light.ttf);
}

html{
    overflow-x: hidden;
}

p {
    font-family: Blue_Curve_R;
}

a{
    font-family: Blue_Curve_R;
}

span{
  font-family: Blue_Curve_R;
}

.container-fluid{
    background-color: rgba(249, 179, 0, 1);
    padding: 1.3em;
}

.container-fluid a{
    font-family: Blue_Curve_R;
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.nav-item a{
  font-family: Blue_Curve_R;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.nav-item a:hover {
  color: white;
}

@media screen and (max-width: 1150px) {
  .nav-item a{
    font-family: Blue_Curve_R;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
  }
}

@media screen and (max-width: 1024px) {
  .nav-item a{
    font-family: Blue_Curve_R;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
  }
}

@media screen and (max-width: 768px) {
  .nav-item a{
    font-family: Blue_Curve_R;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
  }
}

@media screen and (max-width: 480px) {
  .nav-item a{
    font-family: Blue_Curve_R;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
  }

  .logo span {
    font-size: 0.7em;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1em;
    padding-bottom: 0;
  }
}

.logo {
    font-size: 2em;
}

main {
    padding: 2em;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto;
    grid-gap: 30px;
  }

@media screen and (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    grid-gap: 30px;
  }
  
}
  
  .grid-item {
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  }
  
  .grid-item-1 {
    grid-row: span 2;
    border-radius: 50px;
  }

  @media screen and (max-width: 600px) {
    .grid-item {
      align-items: center;
      justify-content: center;
      width: 400px;
      padding: 20px;
      border-radius: 50px;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    }
    
  }

.account img {
    width: 250px;
    align-items: center;
    justify-content: center;
}

  .account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Blue_Curve_R;
  }
  
  @media screen and (max-width: 724px) {
    .account {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 500px;
      font-family: Blue_Curve_R;
    }
  }

  @media screen and (max-width: 600px) {
    .account {
      width: 350px;
    }

    .card img{
      width: 250px;
      float: left;
      border: none;
    }

    .column-1 img{
      width: 40px;
    }

    .grid-container {
      align-items: center;
      justify-content: center;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: auto;
      grid-gap: 30px;
    }

    td {
      font-size: 1.4rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .account {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 330px;
      font-family: Blue_Curve_R;
    }

    main {
      padding-top: 1em;
    }

    .grid-container {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: auto;
      grid-gap: 30px;
    }

    .card img{
      width: 250px;
      float: left;
    }

    .card{
      width: 250px;
      float: left;
      border: none;
    }

    .table-container table {
      width: 350px;
    }
    
    .table-container {
      max-width: 350px; 
      font-family: Blue_Curve_R;
      font-size: 1px;
    }

    .form-title img{
      width: 200px;
    }

    .grid-item {
      align-items: center;
      justify-content: center;
      width: 380px;
      padding: 20px;
      border-radius: 50px;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    }

    td {
      font-size: 1.4rem;
    }
  }
  
  @media screen and (max-width: 360px) {
    .account {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 350px;
      font-family: Blue_Curve_R;
    }
    
  }

.form-title {
  font-size: 35px;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 50px;
}

.form-submit {
  width: 100%;
  border-radius: 50px;
  padding: 10px 40px;
  background-color: rgba(219, 44, 44, 1);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  margin-top: 10px;
}

.form-text {
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.form-text a{
  text-decoration: none;
  color: black;
}

input {
  background-color: rgba(31, 68, 45, 1);
  color: white;
  height: 3.5rem;
}

input::placeholder {
  color: white;
}

.card{
  width: 380px;
  float: left;
  border: none;
}

.name {
  font-size: 2rem;
}

.balans {
  font-size: 2rem;
  float: left; 
  margin-left: 1rem;
}

.table-container {
  width: 500px; 
  font-family: Blue_Curve_R;
  font-size: 2rem;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.column-1 {
  width: 50px;
}

/*ПОДВАЛ*/
.pt-2{
  font-size: 1.4em;
  color: white;
}

footer {
  background-color: rgba(249, 179, 0, 1);
  margin-top: 2rem;
}
.btn{
  background-color: rgba(31, 68, 45, 1);
  border: none;
  padding: 10px 40px;
  
}

.btn:hover {
  background-color: rgba(31, 68, 45, 1);

}

@media screen and (max-width: 480px) {
  .card{
    width: 250px;
    float: left;
    border: none;
  }
}
